body{
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
}

canvas{
    
}

#ResetButton{
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom:30px ;
		display: inline-block;
		background-color: #fe4918; 
		padding: 10px 40px;
		color:#fff;
		border: 2px solid #fe4918;
		boder-radius: 3px;
}

#turnoAlert{
    color: #e84118;
}
